[Unit]
Description=Prometheus network response time exporter
After=network.target

[Service]
User=prometheus-fping
Group=prometheus-fping
EnvironmentFile=-/etc/prometheus-fping/environment
ExecStart=/usr/bin/prometheus-fping
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
ProtectControlGroups=true
RestartSec=1s

SyslogIdentifier=prometheus-fping
Restart=always

[Install]
WantedBy=multi-user.target
