[Unit]
Description=Prometheus
After=network.target

[Service]
User=prometheus-fping
Group=prometheus-fping
ExecStart=/usr/bin/prometheus-fping
PrivateTmp=true
PrivateDevices=true
ProtectHome=true
NoNewPrivileges=true
ProtectSystem=strict
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true

SyslogIdentifier=prometheus-fping
Restart=always

[Install]
WantedBy=multi-user.target
